<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="con" connectionString="Data Source=DESKTOP-P8L58JD;Initial Catalog=Project;Integrated Security=True;" />
    <add name="Project.Properties.Settings.ProjectConnectionString"
      connectionString="Data Source=.;Initial Catalog=Project;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="Project.Properties.Settings.C__ProjectConnectionString"
      connectionString="Data Source=.;Initial Catalog=&quot;C# Project&quot;;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>